@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: relative; /* Ajustement pour garder le footer visible */
    padding: 20px 0px 20px 0px; /* Ajout de padding global */
    width: 100%;
    background: #EAA129;
    border-radius: 5px;
    text-align: center; /* Centrer tout le contenu horizontalement */
}

.footer .footer-row {
    display: flex;
    flex-direction: column; /* Organiser les éléments verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
}

.footer .footer-row > img {
    width: 150px;
    height: auto;
    margin-bottom: 20px; /* Espace entre l'image et le contenu suivant */
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-col .links {
    display: flex; /* Permet de mettre les liens sur une seule ligne */
    justify-content: center; /* Centrer les liens */
    gap: 25px; /* Espace entre les liens */
    margin-top: 10px;
    flex-wrap: wrap; /* Permet de gérer les petits écrans */
    padding: 0;
}

.footer-col .links li {
    list-style: none;
}

.footer-col .links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-col .links li a:hover {
    color: black;
}

.footer .copyright {
    margin-top: 20px;
    font-size: 13px;
    color: black;
    text-align: center;
}