.bold{
    font-weight: bold;
}

.align_center{
    text-align: center;
}

.inline{
    display: inline-block;
}

.mrg-top15-bottom10{
    margin-top:15vh;
    margin-bottom:10vh;
}

.pad-top10-bottom10{
    padding-top:10vh;
    padding-bottom:10vh;
}